  /* Configuração da fonte */
  body {
    font-family: 'Montserrat', sans-serif;
}

/* Configurações gerais do carrossel */
.carousel {
    margin: 0 auto; /* Centraliza o carrossel */
    max-width: 100%; /* O carrossel ocupa 80% da largura da tela */
}

.carousel-inner {
    position: relative;
    overflow: hidden; /* Evita que imagens maiores ultrapassem o carrossel */
}

.carousel-inner img {
    width: 100%; /* Ajusta a imagem à largura do carrossel */
    height: auto; /* Mantém a proporção original da imagem */
    max-height: 80vh; /* Limita a altura da imagem a 80% da altura da tela */
}

/* Ajustes para telas grandes */
@media (min-width: 992px) {
    .carousel {
        max-width: 70%; /* Ajusta o tamanho do carrossel em telas grandes */
    }
}
h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

/* Fundo amarelo para a seção */
.team-section {
    background-color: #ffcc00;
    padding: 50px 20px;
}

.team-container {
    text-align: center;
}

.team-member {
    display: inline-block;
    margin: 15px;
}

.team-member img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 3px solid white;
}

.team-member p {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.images-container img {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    object-fit: cover;
}
   /* Seções de Serviços */
/* Fundo preto principal */
/* Fundo preto principal */
.service-section {
background-color: #000; /* Fundo preto */
padding: 20px; /* Espaçamento interno do fundo preto */
border-radius: 0px; /* Bordas arredondadas */
margin: 0px auto; /* Centraliza e cria espaçamento vertical */
max-width: 1200px; /* Largura máxima */
}

/* Fundo branco para serviços */
.service-box {
background-color: #fff; /* Fundo branco */
border-radius: 15px 15px 0 0; /* Bordas arredondadas no topo */
padding: 10px; /* Espaçamento interno */
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Fundo amarelo para galeria */
.gallery-container {
background-color: #ffcc00; /* Fundo amarelo */
border-radius: 0 0 15px 15px; /* Bordas arredondadas na parte inferior */
padding: 30px; /* Espaçamento interno */
display: grid;
grid-template-columns: repeat(2, 1fr); /* Define duas colunas */
grid-template-rows: repeat(2, auto); /* Define duas linhas */
gap: 10px;
}

/* Imagens da galeria */
.gallery-container img {
    width: 100%; /* Faz a imagem ocupar todo o espaço do item */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Bordas arredondadas */
    object-fit: cover; /* Corta e ajusta a imagem ao espaço do item */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
}

/* Grid de serviços */
.service-grid-barbas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 15px; /* Espaçamento entre os itens */
    }
    .service-grid{
        display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 15px; /* Espaçamento entre os itens */
        }
    /* Itens de serviço */
    /* Itens de serviço */
    /* Itens de serviço */
    .service-item {
        position: relative; /* Necessário para o posicionamento do pseudo-elemento */
        display: flex; /* Para alinhar o texto e a imagem */
        align-items: center; /* Centraliza o conteúdo verticalmente */
        background-color: #ffcc00; /* Fundo amarelo */
        border-radius: 18px; /* Arredonda os cantos do retângulo */
        color: #000; /* Cor do texto */
        font-weight: bold; /* Texto em negrito */
        height: 55px; /* Altura do retângulo */
        padding-left: 70px; /* Espaço interno à esquerda para o círculo e a imagem */
        padding-right: 20px; /* Espaço interno à direita */
        width: 150px; /* Largura fixa do retângulo */
        /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); Adiciona uma sombra */
    }
    
    .service-item::before {
        content: '';
        position: absolute;
        width: 60px; /* Largura do círculo */
        height: 60px; /* Altura do círculo */
        background-color: #fff; /* Cor branca para o círculo */
        border-radius: 50%; /* Torna o elemento circular */
        top: 50%; /* Centraliza verticalmente */
        left: -5px; /* Ajusta para criar o efeito de "recorte" */
        transform: translateY(-50%); /* Centraliza perfeitamente o círculo */
    }
    
    /* Círculo da imagem */
    .service-item img {
        position: absolute;
        width: 50px; /* Largura da imagem */
        height: 50px; /* Altura da imagem */
        border-radius: 50%; /* Garante o formato circular */
        background-color: #000; /* Fundo preto */
        /* box-shadow: 0 0 0 5px #fff; Borda branca para a imagem */
        top: 50%; /* Centraliza verticalmente */
        left: 10px; /* Centraliza horizontalmente dentro do círculo */
        transform: translate(-30%, -50%); /* Ajusta a posição final */
    }
    
    /* Nome do serviço */
    .service-name {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente dentro da célula */
        align-items: center; /* Centraliza verticalmente dentro da célula */
        font-size: 0.7rem;
        font-weight: bold;
        text-align: center;
        width: 100%; /* Garante que o texto ocupe toda a célula */
        height: 100%; /* Garante que o texto ocupe toda a célula */
        box-sizing: border-box; /* Inclui padding na largura */
        margin-left: 0px; /* Espaçamento entre o círculo e o texto */
    }
 /* Último item centralizado */
.service-grid > .service-item:last-child {
    grid-column: 1 / 3; /* Faz o item ocupar as duas colunas */
    justify-self: center; /* Centraliza o item horizontalmente na grade */
}
.app-download-section {
    background-color: #ffcc00; /* Fundo amarelo */
    padding: 40px 20px;
}

.app-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    grid-template-rows: repeat(2, auto); /* Duas linhas automáticas */
    gap: 10px; /* Espaçamento entre os itens */
    align-items: center; /* Centraliza verticalmente os itens */
    justify-items: center; /* Centraliza horizontalmente os itens */
}

.app-text {
    grid-column: 1; /* Ocupa a primeira coluna */
    grid-row: 1; /* Primeira linha */
    text-align: left; /* Alinha o texto da parte superior à esquerda */
}
/* Estilo do título geral */
.title {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    margin: 0;
    transform: translateX(-5px); /* Move a imagem 20px para a esquerda */
    margin-left: -10px; /* Adiciona margem negativa à esquerda */
}

/* Estilo para o texto superior */
.title-top {
    display: block;
    font-size: 2rem;
    text-align: left; /* Alinha à esquerda */
    margin-bottom: 10px; /* Espaçamento entre as linhas */
    font-weight: 400; /* Deixa a fonte mais fina */
    transform: translateX(-5px); /* Move a imagem 20px para a esquerda */
    margin-left: -10px; /* Adiciona margem negativa à esquerda */
    line-height: 1; /* Ajusta o espaçamento entre linhas */
}

/* Estilo para o texto inferior */
.title-bottom {

    display: block;
    font-size: 3.5rem;
    text-align: left; /* Centraliza horizontalmente */
    font-weight: bold; /* Mantém o negrito */
    line-height: 1; /* Ajusta o espaçamento entre linhas */
}

.app-phone {
    grid-column: 2; /* Segunda coluna */
    grid-row: 1; /* Primeira linha */
    display: flex;
    justify-content: center;
    
}

.app-phone img {
    width: 200px; /* Novo tamanho da largura */
    height: auto; /* Mantém a proporção */
    /* max-height: 220px; Limita a altura máxima */
    object-fit: contain; /* Ajusta a imagem para caber no container */
    transform: translateX(-10px); /* Move a imagem 20px para a esquerda */
    margin-left: -10px; /* Adiciona margem negativa à esquerda */
}

.app-qrcode {
    grid-column: 1 / 2; /* Primeira coluna */
    grid-row: 2 / 3; /* Segunda linha */
    text-align: center;
}

.app-text-link{
    grid-column: 1 / -1; /* Faz o texto ocupar as duas colunas */
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
    transform: translateX(-10px); 
}

/* Estilo para cada link */
.app-link {
    text-decoration: none; /* Remove o sublinhado */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.2s, box-shadow 0.2s; /* Animação ao passar o mouse */
    width: 100%; /* Ajusta a largura */
    height: 100%; /* Ajusta a altura */
    transform: translateX(-10px); 

}

.app-link:hover {
    transform: scale(1.05); /* Aumenta levemente ao passar o mouse */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
}

/* Imagem dos botões */
.app-box img {
    width: 120px;
    height: auto; /* Mantém a proporção da imagem */
    transition: transform 0.2s;
}

.app-box img:hover {
    transform: scale(1.1); /* Aumenta levemente ao passar o mouse */
}

/* Estilo da seção de galeria */
.app-gallery-section {
    background-color: #000; /* Fundo preto */
}

/* Grid da galeria */
.gallery-grid {
    display: grid;
    grid-template-columns: 1fr; /* Garante que tenha sempre uma única coluna */
    gap: 15px; /* Espaçamento entre as imagens */
    padding: 20px; /* Espaçamento interno */
    justify-items: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

/* Estilo das imagens */
.gallery-grid img {
    width: 100%; /* Ocupa todo o espaço da célula */
    height: auto; /* Mantém a proporção */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animação suave */
}

.gallery-grid img:hover {
    transform: scale(1.05); /* Aumenta levemente ao passar o mouse */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
}

